#root {
  width: 100%;
  height: 100vh;
}

.clip-top-half {
  clip-path: inset(52.665px 0 0 0);
}

.clip-bottom-half {
  clip-path: inset(0 0 52.665px 0);
}

.custom-shadow {
  box-shadow: -1.66625rem -1.66625rem 0px #E92577;
}

.clip-right-half {
  clip-path: inset(0 57.33px 0 0);
}

@media (max-width: 768px) {
  .custom-shadow {
    box-shadow: -1rem -1rem 0px #E92577;
  }
}
